*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $font-size-xl;
    margin: $base-margin-size-sm $base-margin-size-lg $base-margin-size-sm $base-margin-size-lg;


    .nav {  
        display: flex;
        gap: $base-gap-size-lg;
        justify-content: space-evenly;
    }

}


// body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     margin: 0;

//     .container {
//         max-width: 80%;
//         max-height: 80%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 2rem;
//         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


//         .content {
//             text-align: center;
//         }
//     }
// }


